/* #0D1B2A */
/* #1B263B */
/* #415A77 */
/* #778DA9 */
/* #E0E1DD */
body {
    margin: 0;
    overflow-y: hidden;
    color: #E0E1DD;
    font-family: 'Courier New', Courier, monospace;
}

/* MAIN */
#mainContainer {
    width: 100vw;
    height: 88vh;
    display: flex;
    border-bottom: 1px solid #778DA9;
}

nav {
    background-color: #1B263B;
    display: flex;
    flex-direction: column;
    width: 18vw;
    align-items: center;
    gap: 1em;

}

nav a {
    text-decoration: none;
    color: #E0E1DD;
}

#navUpperContainer {
    border-bottom: 1px solid #778DA9;
    display: flex;
    flex-direction: column;
    height: 20%;
}

#navUpperContainer h1 {
    font-size: 32px;
}

#navSearch {
    border-radius: 30px;
    width: 15vw;
    height: 3vh;
    padding: 10px;
    color: #1B263B;
    border: #778DA9 1px solid;
}

#navLowerContainer {
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 2em;
}

.navLink {
    font-size: 22px;
    cursor: pointer;
}

#heroMain {
    background: #0D1B2A;
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heroName {
    height: 15%;
    border-bottom: 1px solid #778DA9;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

#heroName h1 {
    font-size: 32px;
}

#accountBtn {
    width: 50px;
    height: 50px;
    border: 1px solid #778DA9;
    border-radius: 32px 32px 32px 32px;
    background-color: #415A77;
    color: #E0E1DD;
    display: flex;
    justify-content: center;
    align-items: center;

}

#gridContainer {
    width: 100%;
    height: 85%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    gap: 2em;
    overflow-y: scroll;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gridItem {
    height: 210px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #415A77;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridItem:hover {
    height: 210px;
    width: 180px;
    border: 1px solid #778DA9;
    border-radius: 10px;
    background-color: #778DA9;
    color: #0D1B2A;
}

.gridImg img {
    width: 150px;
    height: 160px;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#tableContainer {
    width: 80%;
    height: 85%;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* MUSIC PLAYER */
#musicPlayer {
    background-color: #415A77;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#trackProgress {
    padding-top: 10px;
    width: 100%;
}

#music-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

#time-range {
    width: 90vw;
}

#InfoControl {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-bottom: 10px;
}

#trackInfo {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;

}

#trackImg img {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid limegreen;
    object-fit: cover;
}

#trackControls {
    display: flex;
    gap: 1em;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 50%;
}
